/*
* ==================================================
* 01. Box model
* ==================================================
*/

html,
body {
    height: 100%;
    font-size: 100%;
    font-family: 'Roboto Slab', serif;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

/*
* ==================================================
* 03. For mobile phones
* ==================================================
*/

[class*="col-"] {
    width: 100%;
}

/*
* ==================================================
* 03. Colums
* ==================================================
*/
@media only screen and (min-width: 600px) {
   
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
} /* media bracket */

/*
* ==================================================
* 04. Helping classes
* ==================================================
*/

.style1 {
    background-color: #FFFFFF !important;
}

.style2 {
    background-color: #EDEFF1 !important;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.highlight {
    color: #F52B8A;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #eee;
    margin: 0;
    padding: 0;
}